@import "tailwindcss";
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 400; /* Medium weight */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');

  font-style: normal;
  font-display: swap;
}
/* Add this to your src/index.css file */

/* For Webkit-based browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
  
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #3A3C43; /* Color of the tracking area */
  border-radius: 4px;
  width: 12px;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #14171F; /* Color of the scroll thumb */
  border-radius: 4px; /* Roundness of the scroll thumb */
  border: 2px solid #292c33; /* Creates padding around the thumb */
  width: 10px;



}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #14171F; /* Color of the thumb on hover */
  
}